*.pem
frontend/assets/models/*
frontend/*
deps/*
psql-data/*
psql-install/*
archive/*
build/*
config/tokens
config/device
config/settings
ext/openssl
ext/openssl-source
ext/prizm-cxx
cmake/*
export/*
comet/*
build/*
build/obj/*
log/
ext/*
db/*
cmake-build/*
build/*
public/frontend/assets